body {
	display: grid;
	grid-template-columns: 17% 66% 17%;
	grid-template-rows: 16% 74% 10%;
	grid-template-areas:
		"header header header"
		"sidebarIz contenido sidebarDer"
		"footer footer footer";
	background-color: white;
}

/*div#contenedor {
	width: 900px;
	margin: auto;
	border: 1px solid black;
	background-color: #aaaaaa;
	margin-top: 30px;
}*/

div#cabecera {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	/*height: 100px;*/
	background-color: #17105C;
	color: white;
	grid-area: header;
}


div#cabecera a, div#cabecera a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
} 

div#cabecera a:hover {
	color: red;
	font-weight: bold;
	text-decoration: underline;
} 


div#sidebar-left {
	padding: 10px;
	padding-top: 5px;
	float: left;
	font-size: 20px;
	/*width: 170px;*/
	height: 660px;
	background-color: #7064E0;
	grid-area: sidebarIz;
	color: white;
	
}

div#sidebar-left ul {
	padding: 10px;
	font-size: 20px;
}
div#publi{
	margin-top: 60px;
	font-size: 20px;
}

div#sidebar-left a, div#sidebar-left a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
} 

div#sidebar-left a:hover {
	color: red;
	text-decoration: underline;
	font-size: 20px;
} 


div#sidebar-right {
	padding: 10px;
	float: right;
	/*width: 170px;*/
	font-size: 20px;
	height: 660px;
	background-color: #7064E0;
	grid-area: sidebarDer;
	color: white;
}

div#contenido {
	padding: 10px;
	float: left;
	height: 600px;
	/*width: 73vw;*/
	font-size: 20px;
	background-color: white;
	overflow: auto;
	grid-area: contenido;
}

div#pie {
	display: flex-inline;
	padding-top: 30px;
	background-color: #17105C;
	color: white;
	text-align: center;
	font-size: 20px;
	grid-area: footer;
}

div#pie a, div#pie a:visited {
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
} 
div#pie a:hover {
	color: red;
	text-decoration: underline;
	font-size: 20px;
}


div.saludo {
	width: 100%;
	text-align: right;
	font-size: 1em;
}

fieldset .control {
	width: 100%;
	font-size: 20px;
}

fieldset .grupo-control {
	margin: 5px;
	font-size: 20px;
}


fieldset {
	border: 1px solid black;
	width: 80%;
	margin: 0 auto;
	font-size: 20px;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
	font-size: 20px;
} 

label {
/* 	width: 4em; */
/*	float: left; */
/* 	text-align: right; */
	margin-right: 0.5em;
	display: block;
	font-size: 20px;
}

div#posts img {
	/*overflow-y: scroll;*/
	max-width: 100%;
	font-size: 20px;
}

.foto{
	max-height: 500px;
	max-width: 600px;
	height:auto;
	width:auto;
	display: block;
	margin: auto;
}

.fotoAnuncio{
	max-height: 170px;
	max-width: 500px;
	height:auto;
	width:auto;
	display: block;
	margin: auto;
}

#button-salir{
	background-color: red;
}

#button-subir-foto{
	background-color: yellow;
}

#tituloPrincipal{
	margin-top: 0px;
	text-align: center;
	font-size: 60px;
	color: white;
	background-color: #17105C;
}

#parrafoPrincipal{
	text-align: center;
	font-size: 25px;
}

.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 2.0; }
  50% { opacity: 0.2; }
  100% { opacity: 2.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 2.0; }
  50% { opacity: 0.2; }
   100% { opacity: 2.0; }
}

@keyframes parpadeo {  
  0% { opacity: 2.0; }
   50% { opacity: 0.2; }
  100% { opacity: 2.0; }
}